@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redacted+Script:wght@300;400;700&display=swap');


body {
    font-family: "Lato", sans-serif;
    padding: 20px;
    font-size: 13px;
    width: 640px;
}

h1 {
    font-family: "Redacted Script", serif;
    font-size: 50px;
    margin: auto;
}

.threadRow {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    width: 100%;
    align-content: space-between;
    overflow: hidden;
    margin-bottom: 10px;
}

.popName {
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
}

.popTitle {
    display: none;
}

.popURL {
    overflow: hidden;
    flex: 1;
}

.popTurn {
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
}

.popTotalComments {
    flex: 1;
}

.popMyComments {
    display: none;
}

.popDate {
    flex: 1;
}

.popDescription {
    display: none;
}

.popAlt {
    display: none;
}

.popColor {
    display: none;
}



button {
    border: solid 1px #aaa;
    padding: 1%;
    border-radius: 5px;
    font-size: 12px;
    background-color: #fff;
}

button:hover {
    background-color: #e5e5e5;
}

#atlasOptionsBar {
    display: none;
}

.contentHolder {
    
}

.newThread div {
    width: 20%;
    overflow: hidden;
}

.characterName {
    padding: 1%;
    width: fit-content;
    border-radius: 3px;
    background-color: paleturquoise;
}

.turnCounterYou {
    background-color: rgb(238, 228, 175);
    border-radius: 3px;
    padding: 1%;
}

.turnCounterThem {
    background-color: rgb(175, 238, 203);
    border-radius: 3px;
    padding: 1%;
}