@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rubik+Bubbles&display=swap');

body {
    font-family: "Lato", sans-serif;
    padding: 20px;
    width: 540px;
}

h1 {
    font-family: "Rubik Bubbles", system-ui;
}

button {
    border: solid 1px #aaa;
    padding: 1%;
    border-radius: 5px;
    font-size: 10px;
    background-color: #fff;
}

button:hover {
    background-color: #aaa;
}

#atlasOptionsBar {
    display: none;
}

#dateColumn {
    display: none;
}

#myColumn {
    display: none;
}

.newThread {
    display: flex; 
    flex-direction: row; 
    gap: 30px; 
    justify-content: space-between; 
    border-bottom: solid 1px #aaa;
    align-items: center;
    text-align: center;
}

.newThread div {
    width: 20%;
    overflow: hidden;
}

.characterName {
    padding: 1%;
    width: fit-content;
    border-radius: 3px;
    background-color: paleturquoise;
}

.turnCounterYou {
    background-color: rgb(238, 228, 175);
    border-radius: 3px;
    padding: 1%;
}

.turnCounterThem {
    background-color: rgb(175, 238, 203);
    border-radius: 3px;
    padding: 1%;
}